.body {
  background-color: var(--clr-neutral-300);
  overflow-x: hidden;
}

.header {
  padding: 2em 1em;
}
.header__logo {
  color: var(--clr-neutral-100);
  display: block;
  margin-inline: auto;
  margin-bottom: 1em;
  width: 4em;
}
.header__subtitle {
  max-width: 80ch;
  margin-inline: auto;
}

#scroll {
  max-width: 128ch;
  margin-inline: auto;
}

.step {
  padding: 0 0 24em;
}

.step__quote {
  background-color: #a2999033;
  padding: 1em;
}

.step__source {
  height: 1.25rem;
  color: var(--clr-secondary);
}

.footer {
  background-color: var(--clr-neutral-100);
  border-top: var(--clr-neutral-200) dashed 0.5em;
  padding: 4em;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

.footer__article {
  margin-inline: auto;
  max-width: 128ch;
}

.footer__details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.details {
  flex-basis: 100%;
}
.details__tag {
  text-align: center;
  cursor: pointer;
  background-color: var(--clr-secondary);
  color: var(--clr-neutral-100);
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.15em;
}

@media only screen and (min-width: 700px) {
  .header {
    padding: 4em 1em;
  }
  .step {
    padding: 0 8em 28em;
  }
  .footer__details {
    flex-direction: row;
  }
}
