#scroll {
  position: relative;
}

.scroll__graphic {
  position: sticky;
	position: -webkit-sticky;
	top: 25vh;
	z-index: -1;
}

.scroll_text {
	padding: 0 1rem;
  max-width: 30rem;
}

.step {
  padding: 1rem;
}

.step.step--active {
  border: 4px #fc0 dashed;
}

@media only screen and (min-width: 700px) {
	.scroll__graphic {
		top: 15vh;
	}
}