.header__title,
.header__subtitle,
.step__text,
.step__quote,
.step__emphasis {
	color: var(--clr-primary);
}

.header__title {
	margin-bottom: 1em;
	font-size: 2.5rem;
	text-align: center;
}
.header__subtitle {
	font-size: 1.5rem;
	text-align: center;
}

.step__text {
	margin-bottom: 8em;
	font-size: 1.25rem;
}
.step__quote {
	margin: 0 2em 8em;
	font-style: italic;
	font-size: 1.625rem;

}
.step__emphasis {
	padding-bottom: 16em;
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
}